<div class="navbar">
  <div>
    <h1><%= link_to 'Rails Beer Wikitionary', articles_path, class: 'title' %></h1>
  </div>
  <div class="new-article">
    <%= link_to 'New Article', new_article_path, class: 'btn-green' %>
  </div>
</div>
