<%= render 'navbar' %>
<div class="container">
  <% @articles.each do |article| %>
    <div class="article">
      <h1><%= link_to article.title, article_path(article), class: 'article-link' %></h1>
    </div>
  <% end %>
</div>

